{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My resume</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Valeriy Bercha</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#qualifications">Qualifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#languages">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#qualities">Qualities</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Valeriy
          <span class="text-primary">Bercha</span>
        </h1>
          <h3>Junior QC Engineer</h3>
        <div class="subheading mb-5">+ 38 099 030 3572 ·
          <a href="mailto:name@email.com">valber.motorsport@gmail.com</a>
        </div>
        <p class="lead mb-5">Determined and decisive, uses initiative to meet and resolve challenges, logical and methodical approach to achieving tasks and objectives, critical thinking, 
        I'm interested in junior QA position.</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">
      
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="qualifications">
      <div class="w-100">
        <h2 class="mb-5">Qualifications</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">SoftServe IT Academy</h3>
            <img class="img-fluid mx-auto mb-2 " style="padding-top: 20px; padding-bottom: 20px;" src="static/img/softserve.png" alt="">
            <div class="subheading mb-3">Quality Control Software Testing</div>
            <p>BDetermined and decisive, uses initiative to meet and resolve challenges, logical and methodical approach to achieving tasks and objectives, critical thinking, 
            I'm interested in junior QA position. I have basic knowledge and understanding of:
            </p>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Test case creating</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Simple SQL requests</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Types of documents in software testing</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Testing levels</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Testing types</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Test design techniques</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Defect reporting and tracking</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Software testing life cycle (STLC)</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Software development life cycle (SDLC)</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2019 - June 2019</span>
          </div>
        </div>

    </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Technologies</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            SQL</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            HTML</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            CSS</li>
          <li>
        </ul>

        <div class="subheading mb-3" style="padding-top: 30px;">Application &amp; Web servers</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Apache Tomcat</li>
        </ul>
          
        <div class="subheading mb-3" style="padding-top: 30px;">RDBMS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            My SQL</li>
            <li>
            <i class="fa-li fa fa-check"></i>
            PostgreSQL</li>
        </ul>
        
        <div class="subheading mb-3" style="padding-top: 30px;">Development tools</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Github</li>
        </ul>
        
        <div class="subheading mb-3" style="padding-top: 30px;">Testing tools</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Postman</li>
            <li>
            <i class="fa-li fa fa-check"></i>
            Selenium IDE</li>
            
            <li>
            <i class="fa-li fa fa-check"></i>
            Jira</li>
        </ul>
        
        <div class="subheading mb-3" style="padding-top: 30px;">Methodologies</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile</li>
            <li>
            <i class="fa-li fa fa-check"></i>
            SCRUM</li>
            
            <li>
            <i class="fa-li fa fa-check"></i>
            Waterfall</li>
        </ul>
        
        <div class="subheading mb-3" style="padding-top: 30px;">Operating systems</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Microsoft Windows XP / Vista / 7 / 8 / 10</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">"Geocitizen"</h3>
            <img class="img-fluid mx-auto mb-2 " style="padding-top: 20px; padding-bottom: 20px;" src="static/img/geocitizen.jpg" alt="">
            <div class="subheading mb-3">Project description</div>
            <p>Geocitizen is a project aimed to inform citizens about the presence of an 'issue' in the city by selecting problem areas on the map. Allows you to leave a description and a photo of this 'issue'.</p>
            <div class="subheading mb-3" style="padding-top: 30px;">Customer</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                SoftServe IT Academy</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Project role</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                QC software tester</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Responsibilities</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Creating of User Stories</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Test case designing</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Use case / test case creation</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Test case execution</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Defect tracking.</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Project team size</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                6 team members</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Tools &amp; Technologies</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Jira</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Github</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Maven</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Apache Tomcat</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                PostgreSQL</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Swagger</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Javascript</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Involvement duration - 1 month</span>
          </div>
        </div>
          
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Ordering Management System "OMS"</h3>
            <img class="img-fluid mx-auto mb-2 " style="padding-top: 20px; padding-bottom: 20px;" src="static/img/oms.jpg" alt="">
            <div class="subheading mb-3">Project description</div>
            <p>OMS is a system for working with a client base and managing their orders.</p>
            <div class="subheading mb-3" style="padding-top: 30px;">Customer</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                SoftServe IT Academy</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Project role</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                QC software tester</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Responsibilities</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Creating of User Stories</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Test case designing</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Use case / test case creation</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Test case execution</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                Defect tracking.</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Project team size</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                6 team members</li>
            </ul>
            <div class="subheading mb-3" style="padding-top: 30px;">Tools &amp; Technologies</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Jira</li>
                <li>
                <i class="fa-li fa fa-check"></i>
                PostgreSQL</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Involvement duration - 1 month</span>
          </div>
        </div>

    </div>
    </section>

    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Suchava “Stefan cel Mare” University, Romania</h3>
            <div class="subheading mb-3">Specialization: International Economic Relationships</div>
            <div>Grade achieved: Higher Education</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2003 - July 2009</span>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="languages">
      <div class="w-100">
        <h2 class="mb-5">Languages spoken</h2>

        <ul class="fa-ul mb-0">
              <li>
                <img class="img-fluid mx-auto mb-2" style="padding-right: 15px;" src="static/img/ukraine.png" alt="">
                UKRAINIAN: Native</li>
                <li>
                <img class="img-fluid mx-auto mb-2" style="padding-right: 15px;" src="static/img/russia.png" alt="">
                 RUSSIAN: Fluent</li>
                <li>
                <li>
                <img class="img-fluid mx-auto mb-2" style="padding-right: 15px;" src="static/img/romania.png" alt="">
                 ROMANIAN: Fluent</li>
                <li>
                <img class="img-fluid mx-auto mb-2" style="padding-right: 15px;" src="static/img/united-states.png" alt="">
                 ENGLISH: Fluent</li>
            </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="qualities">
      <div class="w-100">
        <h2 class="mb-5">Personal qualities</h2>
        <p>Communicating, purposeful, multitasking, responsibility, persistent, self-control, attention to detail, ability to work in the team, strong self-motivation and strong desire to become skilled QA.</p>
      </div>
    </section>

    <hr class="m-0">

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
